body {
    margin: 0;
    height: 100vh;
    background-color: orange;
    background-image: url(HI.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
